.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  color: #fff;
  height: 5vh;
}

.navigation li {
  display: flex;
  align-items: center;
}

.navigation li img {
  max-height: 100%; 
  max-width: 100%; 
}