.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  margin-left: 8px;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.selected-playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-playlist-button-container {
  display: flex;
  flex-direction: row;
}

.selected-playlist-container button {
  padding: 1%; 
  margin: 0;
  height: 40px;
}

/* .selected-playlist-container button:hover {
  background-color: #f2f2f2;
  color: #000;
} */

.queued-playlist {
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-top: 20px;
}

.playlist-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.playlist-items {
  display: flex;
  flex-direction: column;
}

.playlist-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-index {
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-title {
  font-weight: bold;
}

.item-artist {
  color: #777;
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #b9341d;
}


.items {
  display: flex;
  flex-direction: column;
}

input[type="text"]::-webkit-input-placeholder {
  color: #888;
}
input[type="text"]:-ms-input-placeholder {
  color: #888;
}
input[type="text"]::placeholder {
  color: #888;
}
