.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.search-bar button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  margin-left: 8px;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.selected-playlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-playlist-button-container {
  display: flex;
  flex-direction: row;
}

.selected-playlist-container button {
  padding: 1%; 
  margin: 0;
  height: 40px;
}
.selected-playlist-container button:hover {
  background-color: #f2f2f2;
  color: #000;
}

input[type="text"]::-webkit-input-placeholder {
  color: #888;
}
input[type="text"]:-ms-input-placeholder {
  color: #888;
}
input[type="text"]::placeholder {
  color: #888;
}
